.ant-select-selection{
      background-color: rgba(255, 255, 255, 0.5);
}

.ant-select-dropdown {
      background-color: rgba(255, 255, 255, 0.3);
}
.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-selected:hover {
      background-color: rgba(255, 255, 255, 0.3)
}
.ant-select-dropdown-menu-item:hover {
      background-color: rgba(255, 255, 255, 0.5)
}
.ant-select-dropdown-menu-item-active {
      background-color: rgba(255, 255, 255, 0.3)
}
.ant-select-arrow-icon{
      color: #fff;
}
.ant-select-selection__placeholder{
      color: #fff;
}
.ant-btn{
      border-color: #5ba997;
      color: #5ba997;
}
.ant-btn:hover,
.ant-btn:focus {
      color: #fff;
}
.ant-calendar-picker-icon{
      color: #fff;
}



.ant-radio-button-wrapper-checked:first-child{
      border-color: #5ba997;
}
.ant-radio-button-wrapper{
      background-color: rgba(255, 255, 255, 0);
      border:1px solid #5ba997;
      color: #5ba997;
}
.ant-radio-button-wrapper-checked{
      background-color: #5ba997;
      border: 1px solid #5ba997;
      color: #fff;
}

.ant-radio-button-wrapper:first-child{
      border-left: 1px solid #5ba997;
}
.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
      color: #5ba997;
}
.ant-radio-button-wrapper-checked:hover{
      border-color:#5ba997;
      color: #fff;
}
.ant-menu-inline{
      border-right: none !important;
}
.ant-menu{
      .ant-menu-submenu-title{
            font-size: 20px !important;
      }
}
.ant-menu-item > a{
      font-size: 18px;
}
.ant-pagination-item-link{
      background-color: rgba(255,255,255,0) !important;
      border: 1px solid #5ba997;
      color: #5ba997;
}
.ant-pagination-item{
      background-color: rgba(255,255,255,0) !important;
      border-color: #5ba997;
}
.ant-pagination-item a{
      color: #5ba997;
}
.ant-pagination-item:hover{
      border-color: #5ba997;
}
.ant-pagination-prev a, .ant-pagination-next a{
      color: #5ba997;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
      border-color: #5ba997;
}
.ant-pagination-item-link:hover{
      color: #5ba997;
      border:1px solid #5ba997;
}
.ant-pagination-next:hover{
      color: #5ba997;
      border: 1px solid #5ba997;
      background-color: rgba(255, 255, 255, 0);
      a{
            color: #5ba997;
      }
}
.ant-pagination-next:focus{
      color: #5ba997;
      border: 1px solid #5ba997;
      background-color: rgba(255, 255, 255, 0);
      a{
            color: #5ba997;
      }
}
.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
      color: #5ba997;
}
.ant-pagination-item:hover a{
      color: #5ba997;
}
.ant-pagination-prev{
      border-color:#5ba997;
}
.ant-pagination-item-active{
      background-color: #5ba997 !important;
      border-color: #5ba997;
}
.ant-pagination-item-active a{
      color: #fff !important;
}
.ant-pagination-item-active:hover{
      border-color: #5ba997;
}
.ant-pagination-options-quick-jumper{
      color: #5ba997;
      input{
            border-color: #5ba997;
            color: #5ba997;
      }
}
.ant-pagination-options-quick-jumper input:hover{
      border-color: #5ba997;
}
.ant-radio-group{
      width: 100%;
      .ant-radio{
          height: 16px;
      }
}

.ant-form-item-label label{
      color: #fff;
}
.ant-form-item{
      margin-bottom: 10px;
}
.ant-badge-status-dot{
      border: 1px solid #fff;
}
.ant-table-thead > tr > th{
      color: #5ba997;
}
.my-throw{
      color: #757575;
      i{
            color: #757575;
      }
}
.ant-badge-status-text{
      color: #757575;
}
.ant-btn:hover, .ant-btn:focus{
      border-color: #5ba997;
      color: #5ba997;
}
.ant-menu-item-selected{
      color: #5ba997;
      &:hover{
            color: #5ba997;
      }
}
.ant-modal-close-icon{
      padding: 5px;
      border: 1px solid #666;
}
.ant-modal-body{
      padding: 0 !important;
}
.ant-input:focus{
      border-color: #5ba997;
}
.ant-slider-rail{
      background-color: #666 !important;
}
.ant-slider-handle{
      background-color: #5ba997 !important;
      border: none !important;
}
.ant-slider-track{
      background-color: #5ba997 !important;
}
.ant-modal-header{
      border-radius: 10px 10px 0 0 !important;
}
.ant-modal-body{
      border-radius: 0 0 10px 10px;
}